doctype html
html(lang="en")
    head
        title=title
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        link(rel="stylesheet" type="text/css" href="/css/style.css")
        script(src="https://kit.fontawesome.com/3021faaaff.js" crossorigin="anonymous")
        link(rel='stylesheet' id='pt-cv-public-style-css'  href='/wp-content/plugins/content-views-query-and-display-post-page/public/assets/css/cv95b8.css?ver=2.3.2' type='text/css' media='all' )
        link(rel='stylesheet' id='wp-block-library-css'  href='/wp-includes/css/dist/block-library/style.min9dff.css?ver=5.3.2' type='text/css' media='all' )
        link(rel='stylesheet' id='wp-block-library-theme-css'  href='/wp-includes/css/dist/block-library/theme.min9dff.css?ver=5.3.2' type='text/css' media='all' )
        link(rel='stylesheet' id='wc-block-style-css'  href='/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/stylefc72.css?ver=2.5.14' type='text/css' media='all' )
        link(rel='stylesheet' id='storefront-gutenberg-blocks-css'  href='/wp-content/themes/storefront/assets/css/base/gutenberg-blocks4468.css?ver=2.5.5' type='text/css' media='all' )
        link(rel='stylesheet' id='hfe-style-css'  href='/wp-content/plugins/header-footer-elementor/assets/css/header-footer-elementore7f0.css?ver=1.3.1' type='text/css' media='all')
        link(rel='stylesheet' id='elementor-icons-css'  href='/wp-content/plugins/elementor/assets/lib/eicons/css/elementor-icons.min4c7e.css?ver=5.6.2' type='text/css' media='all')
        link(rel='stylesheet' id='elementor-animations-css'  href='/wp-content/plugins/elementor/assets/lib/animations/animations.min7d47.css?ver=2.9.6' type='text/css' media='all')
        link(rel='stylesheet' id='elementor-frontend-css'  href='/wp-content/plugins/elementor/assets/css/frontend.min7d47.css?ver=2.9.6' type='text/css' media='all')
        link(rel='stylesheet' id='elementor-pro-css'  href='/wp-content/plugins/elementor-pro/assets/css/frontend.minbf47.css?ver=2.9.1' type='text/css' media='all')
        link(rel='stylesheet' id='elementor-global-css'  href='/wp-content/uploads/elementor/css/global4cf8.css?ver=1584561943' type='text/css' media='all')
        link(rel='stylesheet' id='elementor-post-2042-css'  href='/wp-content/uploads/elementor/css/post-2042ece0.css?ver=1584877567' type='text/css' media='all')
        link(rel='stylesheet' id='hfe-widgets-style-css'  href='/wp-content/plugins/header-footer-elementor/inc/widgets-css/frontende7f0.css?ver=1.3.1' type='text/css' media='all')
        link(rel='stylesheet' id='storefront-style-css'  href='/wp-content/themes/storefront/style4468.css?ver=2.5.5' type='text/css' media='all')
        
        
    body
        div(id="app")
            room-component
        script(src="/socket.io/socket.io.js")
        script(src="/js/app.js")
